<!DOCTYPE html>
{% set lang = app.request.locale %}
{% if lang == 'cn' %}{% set lang = 'zh-CN' %}{% endif %}
{% set _title = '' %}
{% set page_title = 'Welcome!' %}
{% if block('page_title') is not empty %}{% set page_title = block('page_title') %}{% endif %}
{% if block('main_title') is not empty %}{% set _title = block('main_title') %}{% set _title_type = 'main_title' %}{% endif %}
{% if block('fancy_title') is not empty %}{% set _title = block('fancy_title') %}{% set _title_type = 'fancy_title' %}{% endif %}
<html lang="{{ lang }}">
<head>
    {% block metadata %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, Zoom= false">
    {% endblock %}

    <title>{{ page_title }} | Cloud Learning System</title>

    {# Include CSS #}
    {{ include(':partials/assets:assets_css.html.twig') }}
    {{ include(':partials/assets:assets_header_js.html.twig') }}

    {% block stylesheets %} {% endblock %}
</head>

<body {% if app.request.locale == 'cn' %}class="base_chinese"{% endif %}>
<div class="container">
    <div class="row">
        {% block header %}
            {{ include(':partials:header/header.html.twig', { }) }}
        {% endblock header %}

        {% block main_banner %} {% endblock main_banner %}

        {% block breadcrumbs %} {% endblock breadcrumbs %}

        {% set _block = block('main_content_1col') %}
        {% if _block is not empty %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="content clearfix {{ app.request.get('_route') }}">
                        {% if _title is not empty %}
                            {{ include(':partials/elements:title.html.twig', { '_content': _title, '_title_type' : _title_type }) }}
                        {% endif %}

                        {{ _block|raw }}

                    </div><!-- class="content" END -->
                </div><!--class="col-lg-12 col-md-12 col-sm-12" END -->
            </div><!--class="row" END -->
        {% endif %}

        {% set _block = block('main_content_1col_form') %}
        {% if _block is not empty %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="content clearfix {{ app.request.get('_route') }}">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                {% block form_error_messages %}{% endblock form_error_messages %}
                                {% block form_success_messages %}{% endblock form_success_messages %}
                            </div>
                        </div>

                        {% if _title is not empty %}
                            {{ include(':partials/elements:title.html.twig', { '_content': _title, '_title_type' : _title_type }) }}
                        {% endif %}

                        {{ _block|raw }}

                    </div><!-- class="content" END -->
                </div><!--class="col-lg-12 col-md-12 col-sm-12" END -->
            </div><!--class="row" END -->
        {% endif %}

        {% set _block = block('main_content_2cols_left') %}
        {% if _block is not empty %}
            <div class="clearfix">
                <div class="content {{ app.request.get('_route') }}">
                    {% if _title is not empty %}
                        {{ include(':partials/elements:title.html.twig', { '_content': _title, '_title_type' : _title_type }) }}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {% block sidebar_2cols_left %}{% endblock sidebar_2cols_left %}
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12">
                            {{ _block|raw }}
                        </div><!--class="col-lg-9 col-md-9 col-sm-12" END -->
                    </div>
                </div><!-- class="content" END -->
            </div><!--class="row" END -->
        {% endif %}

        {% set _block = block('main_content_2cols_left_medium') %}
        {% if _block is not empty %}
            <div class="clearfix">
                <div class="content {{ app.request.get('_route') }}">
                    {% if _title is not empty %}
                        {{ include(':partials/elements:title.html.twig', { '_content': _title, '_title_type' : _title_type }) }}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {% block sidebar_2cols_left_medium %}{% endblock sidebar_2cols_left_medium %}
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12">
                            {{ _block|raw }}
                        </div><!--class="col-lg-9 col-md-9 col-sm-12" END -->
                    </div>
                </div><!-- class="content" END -->
            </div><!--class="row" END -->
        {% endif %}

        {% set _block = block('main_content_2cols_right') %}
        {% if _block is not empty %}
            <div class="clearfix">
                <div class="content {{ app.request.get('_route') }}">
                    {% if _title is not empty %}
                        {{ include(':partials/elements:title.html.twig', { '_content': _title, '_title_type' : _title_type }) }}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            {% block sidebar_2cols_right %}{% endblock sidebar_2cols_right %}
                        </div><!--class="col-lg-9 col-md-9 col-sm-12" END -->

                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ _block|raw }}
                        </div>
                    </div>
                </div><!-- class="content" END -->
            </div><!--class="row" END -->
        {% endif %}

        {% set _block = block('main_content_2cols_right_medium') %}
        {% if _block is not empty %}
            <div class="clearfix">
                <div class="content {{ app.request.get('_route') }}">
                    {% if _title is not empty %}
                        {{ include(':partials/elements:title.html.twig', { '_content': _title, '_title_type' : _title_type }) }}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            {% block sidebar_2cols_right_medium %}{% endblock sidebar_2cols_right_medium %}
                        </div><!--class="col-lg-9 col-md-9 col-sm-12" END -->

                        <div class="col-lg-5 col-md-5 col-sm-12">
                            {{ _block|raw }}
                        </div>
                    </div>
                </div><!-- class="content" END -->
            </div><!--class="row" END -->
        {% endif %}

        {% block body %}{% endblock %}

        <!-- ***** START FOOTER SECTION ***** -->
        {% block footer %}
            {{ include(':partials/footer:footer.html.twig') }}
        {% endblock %}
    </div>
</div>

{# Include JS #}
{#{{ include(':Partial:assets_js.html.twig') }}#}
{{ include(':partials/assets:assets_js.html.twig') }}
{% block javascript %}{% endblock %}
</body>
</html>