<!-- START FOOTER -->
<footer>
    <div class="upperFooter clearfix">
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="footerLinks">
                <h4>Useful Links</h4>
                <ul class="footerList">
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                    <li><a href="javascript:void(0)">FAQs</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="footerLinks">
                <h4>Become an Author</h4>
                <ul class="footerList">
                    <li><a href="javascript:void(0)">Join as Author</a></li>
                    <li><a href="javascript:void(0)">Course Creation Guide</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="footerLinks border">
                <h4>Subscribe for WeChat</h4>
                <a href="javascript:void(0)"><img src="{{ asset('bundles/app/images/content/code_footer.png') }}" alt="Code"></a>
            </div>
        </div>

        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="newsletterSocial">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ asset('bundles/app/images/content/email_icon_footer.png') }}" alt="Email Icon">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Subscribe for Newsletter</h4>
                            <p>Get News, offers, and updates on courses in you inbox</p>
                        </div>
                        <button class="btn btn-warning">Subscribe Now</button>
                    </li>
                </ul>

                <div class="footerSocial">
                    <h6>Follow Us</h6>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="{{ asset('bundles/app/images/content/linkedin_icon.png') }}" alt="Linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="{{ asset('bundles/app/images/content/twitter_icon.png') }}" alt="Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="{{ asset('bundles/app/images/content/facebook_icon.png') }}" alt="Facebok">
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- class="newsletterSocial" END -->
        </div>
    </div><!-- class="upperFooter" END -->

    <!-- START Powered By -->
    <div class="col-sm-12">
        <p class="lowerFooter">Powered by CCJK Technologies Co.</p>
    </div>
    <!-- END Powered By -->

</footer>
<!-- END FOOTER -->